@font-face {
  font-display: swap;
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 400 500;
  src: url("/fonts/fraunces-latin.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Fraunces";
  font-style: italic;
  font-weight: 400 500;
  src: url("/fonts/fraunces-latin-italic.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Instrument Sans";
  font-stretch: 100%;
  font-style: normal;
  font-weight: 400 500;
  src: url("/fonts/instrument-sans-latin.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Frank Ruhl Libre";
  font-style: normal;
  font-weight: 400 500;
  src: url("/fonts/frank-ruhl-libre-hebrew.woff2") format("woff2");
  unicode-range: U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}

@font-face {
  font-display: swap;
  font-family: "Assistant";
  font-style: normal;
  font-weight: 400 500;
  src: url("/fonts/assistant-hebrew.woff2") format("woff2");
  unicode-range: U+0590-05FF, U+200C-2010, U+20AA, U+25CC, U+FB1D-FB4F;
}
